<mat-card>
    <mat-card-header>
      <mat-card-title>{{ product.title | uppercase }}</mat-card-title>
      <mat-card-subtitle>{{ product.price | currency: "USD" }}</mat-card-subtitle>
    </mat-card-header>
    <div class="crop-image">
      <img mat-card-image [src]="product.image" />
    </div>
    <mat-card-content>
      <p>{{ product.description | slice: 0:10 }}</p>
    </mat-card-content>
    <mat-card-actions>
      <a
        mat-raised-button
        color="secondary"
        [routerLink]="['/products', product.id]"
        >Ver detalle</a
      >
      <button mat-raised-button color="primary" (click)="addCart(product)">
        Agregar al carrito
      </button>
    </mat-card-actions>
  </mat-card>