<router-outlet></router-outlet>
<input type="text" [(ngModel)]="title">
{{title}}

<div *ngIf="title === 'nicolas'">
  Nicolas
</div>


<div [ngSwitch]="title" >
  <p *ngSwitchCase="'nicolas'" >Este es nicolas</p>
  <p *ngSwitchCase="'julian'" >Este es julian</p>
  <p *ngSwitchCase="'perez'" >Este es perez</p>
</div>

<button (click)='addItem()' >Add Item</button>

<ul>
  <li *ngIf="items.length === 0" >Esta Vacio</li>
  <li *ngFor="let item of items; index as i">
    {{i+1}}-{{item}}
    <button (click)="deleteItem(i)" >Delete</button>
  </li>
</ul>

<div class="grid-products" >
  <app-product  *ngFor="let product of products" (productClicked)="handleProductAddToCart($event)" [product]="product" ></app-product>
</div>